<hr />
<h4>Text Area Options</h4>

<div class="form-group">
    <label for="description" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="4" id="description" placeholder="(html supported)"></textarea>
    </div>
</div>

<div class="form-group">
    <label for="instructions" class="col-sm-3 control-label">Instructions</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="4" id="instructions" placeholder="(html supported)"></textarea>
    </div>
</div>

<div class="form-group">
    <label for="compareMessage" class="col-sm-3 control-label">Compare message</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="4" id="compareMessage" placeholder="This will appear before the text box. (html supported)"></textarea>
    </div>
</div>

<div class="form-group">
    <label for="feedbackHeader" class="col-sm-3 control-label">Feedback Header</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="2" id="feedbackHeader" placeholder="(html supported)"></textarea>
    </div>
</div>

<div class="form-group">
    <label for="feedback" class="col-sm-3 control-label">Feedback</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="2" id="feedback" placeholder="(html supported)"></textarea>
    </div>
</div>
