<hr />
<h4>Yes/No Options</h4>

<div class="form-group">
    <label for="description" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="4" id="description" placeholder="(html supported)"></textarea>
    </div>
</div>

<div class="form-group">
    <label for="instructions" class="col-sm-3 control-label">Instructions</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="4" id="instructions" placeholder="(html supported)"></textarea>
    </div>
</div>

<div class="form-group">
    <label for="triesAllowed" class="col-sm-3 control-label">Tries allowed</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="triesAllowed" placeholder="ex. 2">
    </div>
</div>

<div class="form-group">
    <label for="feedback" class="col-sm-3 control-label">Feedback</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="2" id="feedback" placeholder="(html supported)"></textarea>
    </div>
</div>

<div class="form-group">
    <label for="tableHeading" class="col-sm-3 control-label">Table heading</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="tableHeading" placeholder="ex. Statements">
    </div>
</div>

<div class="form-group">
    <label for="choiceAHeading" class="col-sm-3 control-label">Choice A heading</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="choiceAHeading" placeholder="ex. GDN is">
    </div>
</div>

<div class="form-group">
    <label for="choiceBHeading" class="col-sm-3 control-label">Choice B heading</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="choiceBHeading" placeholder="ex. GDN is not">
    </div>
</div>

<div class="form-group">
    <label for="instructions" class="col-sm-3 control-label">Choices</label>
    <button type="button" id="addChoice" class="btn btn-default btn-sm">Add Choice</button>
    <div class="col-sm-10" id="choices" style="padding-top:10px;"></div>
</div>
