<h1>New Lesson Builder</h1>

<div class="row">
    <div class="col-md-5">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="selectedLesson" class="col-sm-3 control-label">Lesson</label>
                <div class="col-sm-6">
                    <select id="selectedLesson" class="form-control">
                        <option>Please select a lesson</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="stepNumber" class="col-sm-3 control-label">Step Number</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="stepNumber" placeholder="ex. 9">
                </div>
            </div>
            <div class="form-group">
                <label for="stepName" class="col-sm-3 control-label">Step Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="stepName" placeholder="The new step name">
                </div>
            </div>
            <div class="form-group">
                <label for="pageType" class="col-sm-3 control-label">Page Type</label>
                <div class="col-sm-6">
                    <select id="pageType" class="form-control">
                        <option>Please select a page type</option>
                        <option value="Image">Image</option>
                        <option value="MultipleChoice">Multiple Choice</option>
                        <option value="Order">Order</option>
                        <option value="TextArea">Text Area</option>
                        <option value="Video">Video</option>
                        <option value="YesNo">Yes/No</option>
                    </select>
                </div>
            </div>
            <div id="stepContent"></div>
            <button type="submit" id="create-lesson" class="btn btn-primary">Generate</button>
        </form>
    </div>
    <div class="col-md-7">
        {{#if output}}
        <p>
            First, inside the <span class="label label-default">imsmanifest.xml</span> file, add the following inside of the selected
            lesson <span class="label label-default">&lt;resource&gt;</span> tag.
        </p>
        <pre><code class="xml">{{ output.manifestFileMarkup }}</code></pre>
        <p>
            Add the following HTML to your new step HTML file. Please be sure to name this file <strong>{{output.stepFileName}}</strong>.
        </p>
        <pre><code class="html">{{ output.html }}</code></pre>
        {{else}}
        <div class="alert alert-info" role="alert">Fill out the fields on the left to view the generated code.</div>
        {{/if}}
    </div>
</div>
